@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  
}
.containerImgInit {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(50, 91, 226, 0);
  height: 40rem;
}

.box1 {
  width: 40%;
  height: 500px;
  background-color: rgba(255, 0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
}

.box1 p{
  margin-top: 1rem;
  text-align: center;
  width: 70%;
  color: white;

}

.box2 {
  width: 40%;
  height: 500px;
  background-color: rgba(255, 0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: end; 
  justify-content: center;
  margin-left: 10rem;
  padding-top: 5rem;
}

.img2{
  width: 80%;
}

.imgLogo{
  width: 50%;
  height: 50px;
  margin-top: 2rem;
}